// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
    margin: 0;
    -webkit-appearance: none;
}

.main_users{
    background-color: rgb(212, 212, 212);
    display: flex;
}

/* -------------------------------------- Web用のCSS ------------------------------------*/
@media screen and (min-width: 671px){
    /* ハンバーガーメニュー */
    .hamburger{
        display: none !important;
    }

    /* サイドバー */
    .maps_menu{
        display: block !important;
        padding-top: 20px;
        padding-left: 20px;
        width: 20vw;
        height: 100vh;
        position: fixed;
        background-color: white;
        box-shadow: 0 2px 6px #c1ced7;
    }

    .maps_menu li{
        margin-top: 10px;
        display: flex;
    }

    .maps_menu li:hover{
        opacity: 0.4;
    }

    .maps_menu a{
        padding-left: 10px;
        line-height: 40px;
    }

    .menu_title{
        margin-bottom: 25px;
        height: 105px;
        font-size: 20px;
        opacity: 0.7;
        border-bottom: solid 1px #888;
    }

    .users_title{
        padding-left: 30px;
        font-size: 25px;
        margin: 20px 20px 20px 10vw ;
        opacity: 0.7;
    }

    .user_name{
        font-size: 13px;
        color: #888;
        margin: 20px 0 10px 0;
    }

    .users_contents{
        display: block !important;
        margin: 20px 0 20px 10vw;
        padding-left: 30px;
        font-size: 15px;
        opacity: 0.7;
    }

    /* input -------------------------*/
    
    .textbox{
        border: none;
        border-radius: 3px;
        background-color: #e2e2e2;
        height: 30px;
        width: 200px;
        margin: 15px 0 30px 0;
    }

    .textbutton{
        border: none;
        border-radius: 3px;
        color: white;
        background-color: #0079ff;
        width: 80px;
        height: 30px;
        font-size: 15px;
    }

    .textbutton_route input{
        border: none;
        border-radius: 3px;
        color: white;
        background-color: #0079ff;
        width: 80px;
        height: 30px;
        font-size: 15px;
    }

    .imagebox{
        margin: 15px 0 30px 0;
        border: none;
        outline: none;
        height: 30px;
        font-size: 15px;
    }

    .input_title{
        font-size: 13px;
        color: #888;
    }

    /* マイルート */
    .myroute{
        display: flex;
        flex-direction: row;
    }

    .myroute select{
        margin-top: 10px;
        padding-left: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 3px;
        width: 150px;
        height: 30px;
        line-height: 30px;
        background-color: #e2e2e2;
    }

    .myroute_item{
        margin: 15px 30px 30px 0;
        line-height: 30px;
    }

    /* マイページ --------------------- */
    .main_user_index{
        width: 80vw;
        height: 100vh;
        margin-left: 20vw;
        padding-left: 20px;
    }

    .users_index_item {
        padding: 0 10vw 0 10vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .container{
        width: 80vw;
        border-radius: 2px;
        padding: 20px 0 20px 30px;
        background-color: white;
        overflow: hidden;
        box-shadow: 0 2px 6px #c1ced7;
    }

    .my_user_image{
        display: flex;
        flex-direction: column;
    }

    .my_user_image_opp{
        margin: 3vh 0;
        width: 7vh;
        height: 7vh;
        border-radius: 100%;
        object-fit: cover;
        border: solid 0.5px #888;
    }

    .routes{
        font-size: 15px;
    }

    .edit{
        margin-top: 20px;
    }


    /* サインアップ -------------------- */
    .main_users_new{
        width: 80vw;
        height: 100vh;
        margin-left: 20vw;
        padding-left: 20px;
    }

    .users_new_item {
        padding: 0 10vw 0 10vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    /* 編集 */
    .main_users_edit{
        width: 80vw;
        height: 100vh;
        margin-left: 20vw;
        padding-left: 20px;
    }

    .users_edit_item {
        padding: 0 10vw 0 10vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    /* ログイン */
    .main_user_index{
        width: 80vw;
        margin-left: 20vw;
        padding-left: 20px;
    }

    .users_login_item{
        padding: 0 10vw 0 10vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    form{
        display: flex;
        flex-direction: column;
    }

    .signup_form{
        margin-top: 20px;
        display: flex;
    }

    .signup_form a{
        font-size: 13px;
    }

    .signup_form a:hover{
        opacity: 0.5;
    }

    .routes{
        display: flex;
    }

    .routes_menu{
        margin: 10px 0;
        width: 10vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        color: #888;
    }

    .routes_menu_image{
        margin-left: 2vh;
        border: none;
        width: 6vh;
        height: 6vh;
    }


}

/* ---------------------------------------スマホ用のCSS------------------------------------------- */
@media screen and (max-width: 671px){
    .users_top{
        background-color: #0079ff;
    }

    /* ハンバーガーメニュー */

    .hamburger{
        display: block !important;
        z-index: 2;
    }
    .maps_menu{
        display: none !important;
    }

    .hamburger_nav{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    aside{
        position: absolute;
        width: 100%;
        top: -101vh;
        transition: all 0.2s;
        background-color: rgb(238, 238, 238);
        box-shadow: 0 2px 6px #c1ced7;
        overflow: hidden;
    }

    .hamburger_menu{
        margin-top: 10px;
        background-color: rgb(238, 238, 238);
    }

    .hamburger_menu li{
        display: flex;
    }

    .hamburger_menu a{
        padding-left: 20px;
        line-height: 45px;
    }

    aside li{
        padding-top: 10px;
        list-style: none;
    }

    aside li:hover{
        opacity: 0.4;
    }

    .hamburger_icon{
        opacity: 1.0;
    }


    /* マイページ */
    .main_user_index{
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 1;
    }

    .users_title{
        text-align: center;
        padding: 15px 0;
        color: white;
        opacity: 1.0;
        font-size: 15px;
        margin-bottom: 50px;
    }

    .users_contents{
        display: none !important;
    }

    .user_name{
        margin: 20px 0 10px 0;
        font-size: 13px;
        opacity: 0.6;
    }

    .container{
        margin: 10vw;
    }

    .menu_title{
        margin: 20px 0 10px 20px;
        font-size: 20px;
    }

    .my_user_image_opp{
        margin-left:30vw;
        width: 20vw;
        height: 20vw;
        border-radius: 100%;
        object-fit: cover;
        border: solid 0.5px #888;
    }

    .edit{
        margin-top: 20px;
        text-align: center;
        border: none;
        border-radius: 3px;
        background-color: #0079ff;
        width: 80px;
        height: 30px;
        font-size: 15px;
    }

    .edit a{
        color: white;
        line-height: 30px;
    }

    .routes{
        display: flex;
    }

    .routes_menu{
        margin: 10px 0;
        width: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        color: #888;
    }

    .routes_menu_image{
        margin-left: 2vh;
        border: none;
        width: 50px;
        height: 50px;
    }


    /* 編集 */
    .main_users_edit{
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 1;
    }

    .input_title{
        margin: 20px 0 10px 0;
        font-size: 11px;
        opacity: 0.6;
    }

    .textbox{
        border: none;
        border-radius: 3px;
        background-color: #e2e2e2;
        height: 30px;
        width: 79vw;
    }

    .textbutton{
        margin: 30px 0 60px 0;
        border: none;
        border-radius: 21px;
        color: white;
        background-color: #0079ff;
        width: 79vw;
        height: 40px;
        font-size: 15px;
    }

    .textbutton_route input{
        margin-top: 20px;
        border: none;
        border-radius: 3px;
        color: white;
        background-color: #0079ff;
        width: 80px;
        height: 30px;
        font-size: 15px;
    }


    /* アカウント作成、ログイン */
    .main_users_new{
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 1;
    }

    .signup_form{
        display: flex;
    }

    .signup_form a{
        margin: 20px 0 10px 0;
        font-size: 13px;
    }

    select{
        border: none;
        border-radius: 3px;
        background-color: #e2e2e2;
        height: 30px;
        line-height: 30px;
        width: 79vw;
    }
}